$break-extra-small: 768px;
$break-small: 991px;
$break-large: 1280px;

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $break-extra-small) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $break-extra-small + 1) and (max-width: $break-small - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $break-large) { @content; }
  }
}